.search {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
.search input {
  width: 600px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0 30px;
  border-radius: 100px;
  font-size: 18px;
}
.search button {
  width: 60px;
  height: 60px;
  background-color: #111;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  margin-left: 10px;
  cursor: pointer;
}
.search button i {
  color: #fff;
}

.result .list {
  display: flex;
  width: 1200px;
  margin: 100px auto;
  flex-wrap: wrap;
}
.result .list li {
  flex-basis: 10%;
  padding: 5px;
  box-sizing: border-box;
}
.result .list li img {
  width: 100%;
}
.result .table {
  display: flex;
}
.result .table li {
  flex-basis: 45%;
  flex-grow: 1;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  margin-left: 50px;
}