.category {
  margin: 50px auto;
}
.category ul {
  display: flex;
  justify-content: center;
}
.category ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  overflow: hidden;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 700;
  color: #f8a3b0;
  text-transform: uppercase;
  border: 1px solid #ccc;
  transition: all 0.25s ease;
  background-color: #fff;
  border-radius: 100px;
  cursor: pointer;
}
.category ul li.on {
  font-weight: 700;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  text-shadow: 1px 1px 0px black,2px 2px 0px black,3px 3px 0px black,4px 4px 0px black,5px 5px 0px black,6px 6px 0px black,7px 7px 0px black,8px 8px 0px black,9px 9px 0px black,10px 10px 0px black,11px 11px 0px black,12px 12px 0px black,13px 13px 0px black,14px 14px 0px black,15px 15px 0px black,16px 16px 0px black,17px 17px 0px black,18px 18px 0px black,19px 19px 0px black,20px 20px 0px black,21px 21px 0px black,22px 22px 0px black,23px 23px 0px black,24px 24px 0px black,25px 25px 0px black,26px 26px 0px black,27px 27px 0px black,28px 28px 0px black,29px 29px 0px black,30px 30px 0px black,31px 31px 0px black,32px 32px 0px black,33px 33px 0px black,34px 34px 0px black,35px 35px 0px black,36px 36px 0px black,37px 37px 0px black,38px 38px 0px black,39px 39px 0px black,40px 100px 0px black;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: 50px auto;
}
.list ul li {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.list ul li a {
  display: block;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
}
.list ul li a img {
  width: 100%;
  border: 1px solid #eee;
  background-color: rgb(253, 255, 126);
  border-radius: 13px;
}
.list ul li a .info {
  padding: 10px;
  box-sizing: border-box;
}
.list ul li a .info .year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 18px;
  right: 17px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 100px;
  background-color: #f8a3b0;
}
.list ul li a .info h3 {
  margin: 15px 0;
  font-size: 31px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
.list ul li a .info .desc {
  font-size: 15px;
  color: #999;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
.list ul li a .info .category {
  margin: 40px 0 0;
}
.list ul li a .info .category span {
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 500;
  color: #8ed9f9;
  line-height: 1;
  text-transform: uppercase;
  background-color: #efefef;
  border-radius: 100px;
}
.list ul li a .info .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.list ul li a .info .footer .subTitle {
  font-size: 12px;
  font-weight: 500;
  color: #0ca2e2;
}
.list ul li a .info .footer .birth {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #bbb;
}

.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  transform: translate(-50%, -50%);
  background-image: url(../images/fovicon/favicon.png.ico);
  background-repeat: contain;
  background-color: transparent;
  border-radius: 1000px;
  pointer-events: none;
}

.coordinate {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
}
.coordinate label {
  display: block;
  margin-bottom: 5px;
}
.coordinate span {
  display: inline-block;
  width: 100px;
  color: #fff;
}